body {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

p,ul,ol,dl,address {
    font-size: 16px;
}

p,li,dd,dt,address {
    line-height: 1.5;
}

.sender-column {
    text-align: right;
}